table
    tr
        th='Given Name'
        th='Surname'
        th='Age'
        th='Email Address'

each val in users
    tr
        td=val.firstName
        td=val.lastName
        td=val.age
        td=val.email
